name: Deploy

on:
  push:
    branches:
      - main

jobs:
  Deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2 
      - name: Clone & Deploy
        env:
            PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
            HOSTNAME: ${{secrets.SSH_HOST}}
            USER_NAME: ${{secrets.USER_NAME}}
      
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '

              # Start deployment.
              cd /var/www &&
              sudo rm -rf openDataZurichGateway &&
              sudo git clone https://github.com/FeelHippo/openDataZurichGateway.git &&
              sudo chmod -R 777 openDataZurichGateway &&
              cd openDataZurichGateway &&
              python3 -m venv venv &&
              python -V &&
              source venv/bin/activate &&
              pip install --upgrade pip setuptools wheel &&
              pip install Flask &&
              pip install python-dotenv &&
              pip install flasgger &&
              pip install dotenv &&
              pip install xmltodict &&
              sudo pm2 stop ./flaskr/__init__.py &&
              sudo pm2 start ./flaskr/__init__.py --name zurich-geoportal-gateway --interpreter=python3
              '
